@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --main-font-family: "Inter", Helvetica, sans-serif;
    --header-color: #3f3f3f;
    --body-color: #6a6a6a;
    --light-gray-accent: #a9a9a9;
    --blue-accent: #3C8EB1;
}

body {
    width: 553px;
    margin: 0 auto;
    font-family: var(--main-font-family);
}

h1 {
    font-weight: 800;
}